<a href="https://colab.research.google.com/github/vpopvy/ML_vvsu_2023/blob/main/lab1%20/lab1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Задание по практике 1

##Загрузка датасета
В файле classification datasets расположены ссылки на датасеты. Выберите один в соответствии со своим вариантом, скачайте и прочитайте файл

**Не забудьте загрузить нужные библиотеки**

Например: pip3 install pandas

In [3]:
import pandas as pd

In [5]:
df = pd.read_csv("/content/student-por.csv")
df

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,4,0,11,11
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,2,9,11,11
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,6,12,13,12
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,0,14,14,14
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,0,11,13,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
644,MS,F,19,R,GT3,T,2,3,services,other,...,5,4,2,1,2,5,4,10,11,10
645,MS,F,18,U,LE3,T,3,1,teacher,services,...,4,3,4,1,1,1,4,15,15,16
646,MS,F,18,U,GT3,T,1,1,other,other,...,1,1,1,1,1,5,6,11,12,9
647,MS,M,17,U,LE3,T,3,1,services,services,...,2,4,5,3,4,2,6,10,10,10
648,MS,M,18,R,LE3,T,3,2,services,other,...,4,4,1,3,4,5,4,10,11,11

##Первое знакомство с датасетом
В следующих ячейках выведите:


1.   Колонки датасета
2.   Первые 5 значений
3.   Последние 5 значений
4.   Статистику по числовым колонкам

In [6]:
df.columns

Index(['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu',
       'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime', 'studytime',
       'failures', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery',
       'higher', 'internet', 'romantic', 'famrel', 'freetime', 'goout', 'Dalc',
       'Walc', 'health', 'absences', 'G1', 'G2', 'G3'],
      dtype='object')

In [7]:
df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,4,0,11,11
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,2,9,11,11
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,6,12,13,12
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,0,14,14,14
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,0,11,13,13

In [8]:
df.tail()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
644,MS,F,19,R,GT3,T,2,3,services,other,...,5,4,2,1,2,5,4,10,11,10
645,MS,F,18,U,LE3,T,3,1,teacher,services,...,4,3,4,1,1,1,4,15,15,16
646,MS,F,18,U,GT3,T,1,1,other,other,...,1,1,1,1,1,5,6,11,12,9
647,MS,M,17,U,LE3,T,3,1,services,services,...,2,4,5,3,4,2,6,10,10,10
648,MS,M,18,R,LE3,T,3,2,services,other,...,4,4,1,3,4,5,4,10,11,11

In [9]:
df.describe()

,age,Medu,Fedu,traveltime,studytime,failures,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
count,649.000000,649.000000,649.000000,649.000000,649.000000,649.000000,649.000000,649.000000,649.000000,649.000000,649.000000,649.000000,649.000000,649.000000,649.000000,649.000000
mean,16.744222,2.514638,2.306626,1.568567,1.930663,0.221880,3.930663,3.180277,3.184900,1.502311,2.280431,3.536210,3.659476,11.399076,11.570108,11.906009
std,1.218138,1.134552,1.099931,0.748660,0.829510,0.593235,0.955717,1.051093,1.175766,0.924834,1.284380,1.446259,4.640759,2.745265,2.913639,3.230656
min,15.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,16.000000,2.000000,1.000000,1.000000,1.000000,0.000000,4.000000,3.000000,2.000000,1.000000,1.000000,2.000000,0.000000,10.000000,10.000000,10.000000
50%,17.000000,2.000000,2.000000,1.000000,2.000000,0.000000,4.000000,3.000000,3.000000,1.000000,2.000000,4.000000,2.000000,11.000000,11.000000,12.000000
75%,18.000000,4.000000,3.000000,2.000000,2.000000,0.000000,5.000000,4.000000,4.000000,2.000000,3.000000,5.000000,6.000000,13.000000,13.000000,14.000000
max,22.000000,4.000000,4.000000,4.000000,4.000000,3.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,32.000000,19.000000,19.000000,19.000000

**Ответьте на следующие вопросы:**


1.   Какие средние значения в каждой числовой колонке вашего датасета?
2.   Минимальные и максимальные значения в каждой числовой колонке вашего датасета

In [10]:
#1 вопрос
df.mean()

<ipython-input-10-e8966064367c>:2: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.mean()

age           16.744222
Medu           2.514638
Fedu           2.306626
traveltime     1.568567
studytime      1.930663
failures       0.221880
famrel         3.930663
freetime       3.180277
goout          3.184900
Dalc           1.502311
Walc           2.280431
health         3.536210
absences       3.659476
G1            11.399076
G2            11.570108
G3            11.906009
dtype: float64

In [11]:
#2 задание
df.describe().loc["min"]

age           15.0
Medu           0.0
Fedu           0.0
traveltime     1.0
studytime      1.0
failures       0.0
famrel         1.0
freetime       1.0
goout          1.0
Dalc           1.0
Walc           1.0
health         1.0
absences       0.0
G1             0.0
G2             0.0
G3             0.0
Name: min, dtype: float64

In [12]:
df.describe().loc["max"]

age           22.0
Medu           4.0
Fedu           4.0
traveltime     4.0
studytime      4.0
failures       3.0
famrel         5.0
freetime       5.0
goout          5.0
Dalc           5.0
Walc           5.0
health         5.0
absences      32.0
G1            19.0
G2            19.0
G3            19.0
Name: max, dtype: float64

##Типизация
Присвойте соответствующим колонкам один из типов (category, float, int)

In [13]:
df.Medu = df.Medu.astype("int64")
df.Mjob = df.Mjob.astype("category")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 649 entries, 0 to 648
Data columns (total 33 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   school      649 non-null    object
 1   sex         649 non-null    object
 2   age         649 non-null    int64
 3   address     649 non-null    object
 4   famsize     649 non-null    object
 5   Pstatus     649 non-null    object
 6   Medu        649 non-null    int64
 7   Fedu        649 non-null    int64
 8   Mjob        649 non-null    category
 9   Fjob        649 non-null    object
 10  reason      649 non-null    object
 11  guardian    649 non-null    object
 12  traveltime  649 non-null    int64
 13  studytime   649 non-null    int64
 14  failures    649 non-null    int64
 15  schoolsup   649 non-null    object
 16  famsup      649 non-null    object
 17  paid        649 non-null    object
 18  activities  649 non-null    object
 19  nursery     649 non-null    object
 20  higher      649 non-null    object
 21  internet    649 non-null    object
 22  romantic    649 non-null    object
 23  famrel      649 non-null    int64
 24  freetime    649 non-null    int64
 25  goout       649 non-null    int64
 26  Dalc        649 non-null    int64
 27  Walc        649 non-null    int64
 28  health      649 non-null    int64
 29  absences    649 non-null    int64
 30  G1          649 non-null    int64
 31  G2          649 non-null    int64
 32  G3          649 non-null    int64
dtypes: category(1), int64(16), object(16)
memory usage: 163.2+ KB

Какие признаки вы можете выделить в своем датасете (категориальные, числовые и др., **минимум 3 разных**, помните что можно также выделить признаки более точно, например числовые - порядковые, количественные и т.д.)?

Порядковые FEdu Medu (образование матери и отца)
Числовые age studytime (возраст,сколько учиться часов)
Категорилаьные school sex (школа,пол)

##Фильтрация
Офильтруйте 3 колонки вашего датасета и выведите результат

In [14]:
filtered_df = df.loc[df["age"]>18]
filtered_df

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
127,GP,F,19,U,GT3,T,0,1,at_home,other,...,3,4,2,1,1,5,0,9,10,11
166,GP,M,19,U,GT3,T,3,2,services,at_home,...,4,5,4,1,1,4,6,11,9,11
224,GP,F,19,U,GT3,T,3,3,other,other,...,4,3,3,1,2,3,4,12,12,12
279,GP,M,22,U,GT3,T,3,1,services,services,...,5,4,5,5,5,1,12,7,8,5
290,GP,F,19,U,GT3,T,2,2,services,services,...,4,3,3,1,1,5,0,10,10,11
295,GP,M,19,U,LE3,A,4,3,services,at_home,...,4,3,1,1,1,1,4,11,13,14
299,GP,F,20,R,GT3,T,2,1,other,other,...,1,2,3,1,2,2,8,10,12,12
311,GP,F,19,U,GT3,T,3,3,other,services,...,4,3,5,3,3,5,16,11,12,12
322,GP,F,19,R,GT3,T,3,2,services,services,...,3,3,3,4,3,3,0,9,8,10
341,GP,F,19,U,GT3,T,4,4,health,other,...,2,3,4,2,3,2,2,14,13,13
350,GP,M,19,R,LE3,T,2,1,at_home,services,...,4,3,1,1,1,5,0,9,10,11
351,GP,M,20,U,GT3,A,3,2,services,other,...,5,5,3,1,1,5,0,14,15,15
352,GP,M,19,R,GT3,T,3,3,other,services,...,4,5,3,1,2,5,0,10,10,11
361,GP,M,19,U,GT3,T,4,2,health,other,...,5,4,4,1,1,1,9,11,10,10
369,GP,F,19,U,GT3,T,1,1,other,other,...,1,5,5,4,3,5,12,10,10,11
370,GP,F,19,U,LE3,A,1,1,other,other,...,5,3,4,1,1,4,2,8,8,9
384,GP,M,19,R,GT3,T,3,2,at_home,services,...,5,3,4,2,2,5,0,11,10,10
405,GP,F,19,U,LE3,A,2,3,at_home,other,...,2,2,3,3,4,5,16,10,11,11
407,GP,F,21,U,LE3,T,4,4,other,other,...,3,3,2,1,1,5,0,9,12,12
413,GP,M,21,R,LE3,T,1,1,at_home,other,...,5,3,3,5,2,4,21,9,10,10
414,GP,F,20,R,GT3,T,1,1,other,other,...,3,2,2,1,3,3,8,11,15,15
415,GP,F,19,U,GT3,T,4,4,teacher,other,...,3,2,5,4,4,5,5,9,10,11
419,GP,M,19,U,GT3,T,2,1,other,other,...,5,3,4,1,4,4,10,7,11,11
421,GP,F,20,U,GT3,T,1,0,other,other,...,5,3,1,1,1,5,5,8,10,10
480,MS,F,19,U,GT3,T,2,3,at_home,services,...,4,4,4,1,1,2,0,9,9,10
488,MS,F,19,U,GT3,T,1,1,at_home,services,...,5,3,1,1,1,3,6,7,9,9
491,MS,F,19,U,GT3,T,1,1,other,other,...,1,1,4,4,1,1,12,7,8,9
504,MS,F,19,U,LE3,T,2,2,other,other,...,5,4,5,1,1,1,0,12,13,13
506,MS,F,20,U,GT3,T,3,3,at_home,services,...,3,3,4,2,4,3,8,11,9,10
552,MS,M,19,U,GT3,T,1,1,other,other,...,4,4,3,3,4,4,2,9,9,10
568,MS,M,19,U,GT3,T,3,2,at_home,services,...,3,2,1,1,1,3,4,6,11,9
571,MS,M,19,U,GT3,T,2,1,at_home,other,...,4,4,3,1,3,5,4,8,9,9
574,MS,M,20,R,GT3,T,1,1,other,other,...,4,4,3,2,4,4,12,8,11,10
577,MS,M,19,R,GT3,T,1,1,other,services,...,5,4,4,3,3,2,8,10,9,11
580,MS,M,19,R,GT3,T,1,1,other,other,...,4,4,4,3,3,5,4,8,9,10
582,MS,F,19,U,LE3,A,1,1,at_home,other,...,1,4,4,1,1,5,0,6,8,7
605,MS,F,19,U,GT3,T,1,1,at_home,services,...,5,5,5,2,3,2,0,5,0,0
610,MS,F,19,R,GT3,A,1,1,at_home,at_home,...,3,5,4,1,4,1,0,8,0,0
632,MS,F,19,R,GT3,T,1,1,at_home,other,...,4,3,3,1,1,3,4,7,8,9
639,MS,M,19,R,GT3,T,1,1,other,services,...,4,3,2,1,3,5,0,5,8,0
644,MS,F,19,R,GT3,T,2,3,services,other,...,5,4,2,1,2,5,4,10,11,10

In [19]:
filtered_df = df.loc[df['sex'] == "F" ]
filtered_df

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,4,0,11,11
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,2,9,11,11
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,6,12,13,12
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,0,14,14,14
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,0,11,13,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
642,MS,F,17,U,GT3,T,4,3,teacher,other,...,5,5,4,1,1,1,0,6,9,11
643,MS,F,18,R,GT3,T,4,4,teacher,at_home,...,4,4,3,2,2,5,4,7,9,10
644,MS,F,19,R,GT3,T,2,3,services,other,...,5,4,2,1,2,5,4,10,11,10
645,MS,F,18,U,LE3,T,3,1,teacher,services,...,4,3,4,1,1,1,4,15,15,16
646,MS,F,18,U,GT3,T,1,1,other,other,...,1,1,1,1,1,5,6,11,12,9

In [23]:
filtered_df = df.loc[df["Fjob"]=="teacher"]
filtered_df

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,4,0,11,11
7,GP,F,17,U,GT3,A,4,4,other,teacher,...,4,1,4,1,1,1,2,10,13,13
29,GP,M,16,U,GT3,T,4,4,teacher,teacher,...,4,4,5,5,5,5,4,12,11,12
37,GP,M,16,R,GT3,A,4,4,other,teacher,...,2,4,3,1,1,5,4,13,13,13
42,GP,M,15,U,GT3,T,4,4,services,teacher,...,4,3,3,1,1,5,0,14,15,15
49,GP,F,15,U,GT3,T,4,4,services,teacher,...,4,4,4,1,1,3,2,13,12,12
60,GP,F,16,R,GT3,T,4,4,health,teacher,...,2,4,4,2,3,4,0,17,16,16
101,GP,M,16,U,GT3,T,4,4,services,teacher,...,4,4,3,1,1,4,0,16,16,16
110,GP,M,15,U,LE3,A,4,4,teacher,teacher,...,5,5,3,1,1,4,4,13,14,14
115,GP,M,16,U,GT3,T,4,4,teacher,teacher,...,5,4,4,1,2,5,6,16,14,14
116,GP,M,15,U,GT3,T,4,4,other,teacher,...,4,4,3,1,1,2,4,16,15,16
128,GP,M,16,R,GT3,T,4,4,teacher,teacher,...,3,5,5,2,5,4,8,14,14,15
130,GP,F,15,R,GT3,T,3,4,services,teacher,...,4,2,2,2,2,5,0,10,11,12
138,GP,M,15,R,GT3,T,3,4,at_home,teacher,...,5,3,3,1,1,5,2,12,11,11
147,GP,F,15,U,GT3,T,4,4,teacher,teacher,...,4,3,2,1,1,5,6,13,14,14
161,GP,M,16,U,GT3,T,4,4,teacher,teacher,...,3,3,2,2,1,5,16,9,9,8
167,GP,F,17,U,GT3,T,4,4,other,teacher,...,4,2,1,1,1,4,0,13,13,13
210,GP,M,17,U,GT3,T,4,4,services,teacher,...,5,2,3,1,2,5,4,13,13,14
212,GP,F,17,U,GT3,T,4,4,services,teacher,...,4,2,4,2,3,2,30,14,15,16
213,GP,F,16,U,LE3,T,4,4,teacher,teacher,...,4,5,2,1,2,3,0,11,10,11
236,GP,F,16,U,GT3,T,2,3,services,teacher,...,2,3,1,1,1,3,0,13,13,14
246,GP,M,17,U,GT3,T,4,4,teacher,teacher,...,4,5,5,1,3,2,0,13,13,13
257,GP,M,17,U,GT3,T,4,4,teacher,teacher,...,4,2,1,1,2,5,6,10,8,9
333,GP,F,17,U,GT3,T,1,1,services,teacher,...,4,3,3,1,1,3,0,13,13,14
335,GP,M,18,U,LE3,A,4,4,teacher,teacher,...,5,4,3,1,1,2,0,17,17,17
344,GP,M,18,U,LE3,T,4,4,teacher,teacher,...,1,4,2,2,2,1,0,18,18,17
346,GP,M,17,U,LE3,T,4,4,other,teacher,...,4,1,1,2,2,5,0,12,13,13
353,GP,F,18,U,GT3,T,1,4,other,teacher,...,3,4,4,1,2,5,2,10,10,11
356,GP,F,17,R,GT3,T,4,4,teacher,teacher,...,4,4,4,1,1,5,2,15,16,17
381,GP,F,17,U,GT3,T,4,4,teacher,teacher,...,4,3,3,1,2,4,4,15,14,15
448,MS,F,16,R,GT3,T,4,4,teacher,teacher,...,4,2,2,1,1,4,6,16,16,17
469,MS,M,16,U,GT3,T,4,4,other,teacher,...,4,3,1,1,1,3,0,13,12,13
516,MS,F,16,R,GT3,T,4,4,health,teacher,...,4,3,3,2,3,2,0,14,16,16
594,MS,F,18,U,GT3,T,4,4,teacher,teacher,...,4,3,5,1,2,1,0,18,18,18
626,MS,F,18,R,GT3,T,4,4,other,teacher,...,3,2,2,4,2,5,0,7,5,0
636,MS,M,18,U,GT3,T,4,4,teacher,teacher,...,3,2,4,1,4,2,4,17,18,19

##Группировка
Сгруппируйте датасет по какому-либо категориальному признаку и выведите среднее значение численных колонок (см. метод mean в pandas)

In [ ]:
grouped_df = df.groupby("sex").mean()
grouped_df

<ipython-input-40-376acf240d32>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  grouped_df = df.groupby("sex").mean()

,age,Medu,Fedu,traveltime,studytime,failures,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
sex,,,,,,,,,,,,,,,,
F,16.788512,2.402089,2.229765,1.543081,2.073107,0.185379,3.864230,3.052219,3.127937,1.284595,1.937337,3.368146,3.577023,11.637076,11.822454,12.253264
M,16.680451,2.676692,2.417293,1.605263,1.725564,0.274436,4.026316,3.364662,3.266917,1.815789,2.774436,3.778195,3.778195,11.056391,11.206767,11.406015

##Задание для гениев *
Агрегируйте числовой признак по категориальному признаку с использованием метода **без использования** библиотеки pandas, и вычислите медиану и среднее значение для каждой категории.

In [22]:
from collections import defaultdict

In [32]:
res_dict = defaultdict(list)

In [37]:
format_df = df[["Mjob","Medu"]]
format_df

         Mjob  Medu
0     at_home     4
1     at_home     1
2     at_home     1
3      health     4
4       other     3
..        ...   ...
644  services     2
645   teacher     3
646     other     1
647  services     3
648  services     3

[649 rows x 2 columns]

In [38]:
for idx,row in format_df.iterrows():
  res_dict[row[0]].append(row[1])

In [40]:
for n,m in res_dict.items():
  print(f"Категория - ({n}) min = {min(m)} mean = {sum(m)/len(m)} ")

Категория - (GP) min = 1 mean = 2.0141843971631204
Категория - (MS) min = 1 mean = 1.7743362831858407
Категория - (at_home) min = 0 mean = 1.6814814814814816
Категория - (health) min = 1 mean = 3.5625
Категория - (other) min = 0 mean = 2.201550387596899
Категория - (services) min = 1 mean = 2.801470588235294
Категория - (teacher) min = 3 mean = 3.9583333333333335